html {
	height: 100%;
}
body {
	min-height: 100%;
	background: #f9f9f9;
}

header, main, footer {
	padding: 20px;
}

.chart-container {
}

.ct-line {
  stroke: red;
  stroke-width: 1px;
}

.ct-label {
	font-size: 12px;
}